.leaflet-editing-icon {
	 border: 0px;
     background: url('../images/drawpointer.png') 0px 0px no-repeat;
}
.leaflet-popup-content-wrapper{
   border-radius:5px;
   border-left: 1px solid #B7B6B6;
   border-right: 1px solid #B7B6B6;
   font-size: 12px;
   line-height: 21px;
}


.icon-line{
	background-image: url(../images/line.gif) !important;
	background-repeat:no-repeat;
}
.icon-cancle{
	background-image: url(../images/cancle.png) !important;
	background-repeat:no-repeat;
}
.empty-All{
	background-image:url(../images/empty.gif) !important;
	background-repeat:no-repeat;
}
.icon-alarm{
	background-image:url(../images/alarm.png) !important;
	background-repeat:no-repeat;
}
.icon-layer{
	background-image:url(../images/layer.png) !important;
	background-repeat:no-repeat;
}
.icon-cmd{
	background-image:url(../images/cmd.png) !important;
	background-repeat:no-repeat;
}
.icon-send{
	background-image:url(../images/send.png) !important;
	background-repeat:no-repeat;
}

.icon-set{
	background-image:url(../images/info.png) !important;
	background-repeat:no-repeat;
}

.icon-loyon{
	background-image:url(../images/RECT_DY.gif) !important;
	background-repeat:no-repeat;
}
.icon-traffic {
	background-image: url(../images/traffic.gif) !important;
	background-repeat:no-repeat;
}
.icon-bind{
	background-image:url(../images/connect.png) !important;
	background-repeat:no-repeat;
}
.icon-rect{
	background-image:url(../images/rect.gif) !important;
	background-repeat:no-repeat;
}
.icon-point{
	background-image:url(../images/POSTION.gif) !important;
	background-repeat:no-repeat;
}
.icon-query{
	background-image:url(../images/find.png) no-repeat !important ;
}
.icon-searchFind{
	background-image: url(../images/searchFind.png) !important ;
	background-repeat:no-repeat;
}
.icon-controller {
	background-image: url(../images/controler.png) !important;
}
.icon-upload{
	background-image:url(../images/upload.png) !important;
	background-repeat:no-repeat;
}
.icon-download{
	background-image:url(../images/download.png) !important;
	background-repeat:no-repeat;
}
.icon-fileshare{
	background-image:url(../images/openShare.png) !important;
	background-repeat:no-repeat;
}
.icon-find{
	background-image:url(../images/searchFind.png) !important;
	background-repeat:no-repeat;
}
.icon-home{
	background-image:url(../images/home.png)  !important;
	background-repeat:no-repeat;
}

.icon-clear{
	background-image:url(../images/empty.gif) !important;
	background-repeat:no-repeat;
}

.icon-default-menu{
	background-image:url(../images/default.png) !important;
	background-repeat:no-repeat;
}
.icon-module-leaf{
	background-image:url(../images/module-leaf.png)  !important;
	background-repeat:no-repeat;
}

.icon-zoom-out {
	background-image: url(../images/zoom_out.gif) !important;
	background-repeat:no-repeat;
}
.icon-zoom-in {
	background-image: url(../images/zoom_in.gif) !important;
	background-repeat:no-repeat;
}
.icon-pointer {
	background-image: url(../images/pointer.gif) !important;
	background-repeat:no-repeat;
}
.icon-traffic {
	background-image: url(../images/traffic.gif) !important;
	background-repeat:no-repeat;
}
.draw-print{
	background-image: url(../images/print.gif) !important;
	background-repeat:no-repeat;
}

.icon-hand {
	background-image: url(../images/hand.gif) !important;
	background-repeat:no-repeat;
}
.icon-ruler {
	background-image: url(../images/ruler.gif) !important;
	background-repeat:no-repeat;
}
.icon-map_perimeter {
	background-image: url( ../images/rectArea.gif) !important;
	background-repeat:no-repeat;
}
.icon-center {
	background-image: url( ../images/center.gif) !important;
	background-repeat:no-repeat;
}
.icon-show-full {
	background-image: url( ../images/map_show_full.gif ) !important;
	background-repeat:no-repeat;
}
.icon-xml {
	background-image: url( ../images/xml.png ) !important;
	background-repeat:no-repeat;
}
.icon-help {
	background-image: url( ../images/help.gif ) !important;
	background-repeat:no-repeat;
}
.icon-theme {
	background-image: url( ../images/help.gif ) !important;
	background-repeat:no-repeat;
}
.icon-bug {
	background-image: url( ../images/bug.png ) !important;
	background-repeat:no-repeat;
}
.icon-info {
	background-image: url( ../images/info.png ) !important;
	background-repeat:no-repeat;
}
.icon-app {
	background-image: url( ../images/application.png ) !important;
	background-repeat:no-repeat;
}

.x-btn-visited {
	background-image: url( ../images/vistable.gif ) !important ;
	background-repeat:no-repeat;
}
.icon-circle{
	background-image: url( ../images/circle.gif ) !important ;
	background-repeat:no-repeat;
}

.icon-add{
	background-image: url( ../images/add.gif ) !important ;
	background-repeat:no-repeat;
}
.icon-update{
	background-image: url( ../images/edit.gif ) !important ;
	background-repeat:no-repeat;
}
.icon-remove,.icon-delete,.icon-deleted{
	background-image: url( ../images/delete.gif ) !important ;
	background-repeat:no-repeat;
}
.icon-detail{
	background-image: url( ../images/info.png ) !important ;
	background-repeat:no-repeat;
}
.icon-location{
	background-image: url( ../images/location.png) !important ;
	background-repeat:no-repeat;
}
.icon-refresh{
	background-image: url( ../images/refresh.gif) !important ;
	background-repeat:no-repeat;
}
.icon-save{
	background-image: url( ../images/save.png) !important ;
	background-repeat:no-repeat;
}
.icon-excel{
	background-image: url( ../images/excel.png) !important ;
	background-repeat:no-repeat;
}
.icon-disconnect{
	background-image: url( ../images/disconnect.png) !important ;
	background-repeat:no-repeat;
}
.icon-gen{
    background-image: url( ../images/gen.png) !important ;
	background-repeat:no-repeat;
}


.icon-Filefolder{
    background-image: url( ../images/fileTool.png) !important ;
	background-repeat:no-repeat;
}

.icon-exit{
    background-image: url( ../images/exit.png) !important ;
	background-repeat:no-repeat;
}

.icon-help{
    background-image: url( ../images/help.gif) !important ;
	background-repeat:no-repeat;
}

.icon-purple{
    background-image: url( ../images/purple.png) !important ;
	background-repeat:no-repeat;
}

.icon-gray{
    background-image: url( ../images/gray.png) !important ;
	background-repeat:no-repeat;
}

.icon-default{
    background-image: url( ../images/lightblue.png) !important ;
	background-repeat:no-repeat;
}

.icon-server{
    background-image: url( ../images/servers.gif) !important ;
	background-repeat:no-repeat;
}
.icon-logger{
    background-image: url( ../images/logger.gif) !important ;
	background-repeat:no-repeat;
}

.icon-newsql{
    background-image: url( ../images/sql.png) !important ;
	background-repeat:no-repeat;
}

.icon-tabledoc{
    background-image: url( ../images/tabledoc.png) !important ;
	background-repeat:no-repeat;
}

.icon-exportTable{
    background-image: url( ../images/exportTable.png) !important ;
	background-repeat:no-repeat;
}

.icon-newFile{
    background-image: url( ../images/newFile.png) !important ;
	background-repeat:no-repeat;
}
.icon-setting{
    background-image: url( ../images/setting.gif) !important ;
	background-repeat:no-repeat;
}
.icon-window{
    background-image: url( ../images/windows.png) !important ;
	background-repeat:no-repeat;
}
.icon-theme{
    background-image: url( ../images/theme.png) !important ;
	background-repeat:no-repeat;
}
.icon-book{
    background-image: url( ../images/book.gif) !important ;
	background-repeat:no-repeat;
}

.icon-user{
    background-image: url( ../images/user.gif) !important ;
	background-repeat:no-repeat;
}

.track_begin{
	background:url(../images/play_icon.gif) no-repeat;
}
.track_pause{
	background:url(../images/pause_icon.gif) no-repeat;
}
.track_stop{
	background:url(../images/stop_icon.gif) no-repeat;
}
.icon_Root{
	background-image: url( ../images/databaseRoot.png) !important ;
	background-repeat:no-repeat;
}
.icon_database{
	background-image: url( ../images/database.png) !important ;
	background-repeat:no-repeat;
}
.icon_table{
	background-image: url( ../images/table.png) !important ;
	background-repeat:no-repeat;
}
.icon_column{
	background-image: url( ../images/field.png) !important ;
	background-repeat:no-repeat;
}
.icon_column_key{
	background-image: url( ../images/field_key.png) !important ;
	background-repeat:no-repeat;
}
.icon_column_for{
	background-image: url( ../images/field_link.png) !important ;
	background-repeat:no-repeat;
}

.icon-alias{
	background-image: url( ../images/alias.png) !important ;
	background-repeat:no-repeat;
}

.icon_newDataBase{
	background-image: url( ../images/database_add.png) !important ;
	background-repeat:no-repeat;
}
.icon_updateDataBase{
	background-image: url( ../images/database_edit.png) !important ;
	background-repeat:no-repeat;
}
.icon_deleteDataBase{
	background-image: url( ../images/database_delete.png) !important ;
	background-repeat:no-repeat;
}
.icon_DataBaseInfo{
	background-image: url( ../images/databaseInfo.png) !important ;
	background-repeat:no-repeat;
}



.icon_newTable{
	background-image: url( ../images/table_add.png) !important ;
	background-repeat:no-repeat;
}
.icon_openTable{
	background-image: url( ../images/table.png) !important ;
	background-repeat:no-repeat;
}
.icon_updateTable{
	background-image: url( ../images/table_edit.png) !important ;
	background-repeat:no-repeat;
}
.icon_queryTable{
	background-image: url( ../images/query.gif) !important ;
	background-repeat:no-repeat;
}

.icon_deleteTable{
	background-image: url( ../images/table_delete.png) !important ;
	background-repeat:no-repeat;
}
.icon_TableInfo{
	background-image: url( ../images/table.png) !important ;
	background-repeat:no-repeat;
}
.icon-execute{
	background-image: url( ../images/execute.png) !important ;
	background-repeat:no-repeat;
}

.icon-folder{
	height:16px;
    background-image: url( ../images/fileTool.png) !important ;
	background-repeat:no-repeat;
}
.icon-recallback{
    background-image: url( ../images/backup.png) !important ;
	background-repeat:no-repeat;
}


.icon-upload{
    background-image: url( ../images/upload.png) !important ;
	background-repeat:no-repeat;
}
.icon-stop{
    background-image: url( ../images/stop.png) !important ;
	background-repeat:no-repeat;
}
.example-info{
	width:150px;
	border:1px solid #c3daf9;
	border-top:1px solid #DCEAFB;
	border-left:1px solid #DCEAFB;
	background:#ecf5fe url( info-bg.gif ) repeat-x;
	font-size:10px;
	padding:8px;
}
pre.code{
	background: #F8F8F8;
	border: 1px solid #e8e8e8;
	padding:10px;
	margin:10px;
	margin-left:0px;
	border-left:5px solid #e8e8e8;
	font-size: 12px !important;
	line-height:14px !important;
}
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}
.x-grid3-row-body p {
    margin:5px 5px 10px 5px !important;
}


.leaflet-popup-content-wrapper{
    border-radius: 6px;
}

.ext-ie .x-row-editor .x-form-text {
    margin:0 !important; 
}
.x-row-editor-header {
    height:2px;
    overflow:hidden;
    background: transparent url(../images/row-editor-bg.gif) repeat-x 0 0;
}
.x-row-editor-footer {
    height:2px;
    overflow:hidden;
    background: transparent url(../images/row-editor-bg.gif) repeat-x 0 -2px;
}
.ext-ie .x-row-editor-footer {
    margin-top:-1px;
}

.x-row-editor-body {
    overflow:hidden;
    zoom:1;
    background: #ebf2fb;
    padding-top:2px;
}
.x-row-editor .x-btns {
    position:absolute;
    top:28px;
    left:20px;
    padding-left:5px;
    background: transparent url(../images/row-editor-btns.gif) no-repeat 0 0;
}
.x-row-editor .x-btns .x-plain-bwrap {
    padding-right:5px;
    background: transparent url(../images/row-editor-btns.gif) no-repeat right -31px;
}
.x-row-editor .x-btns .x-plain-body {
    background: transparent url(../images/row-editor-btns.gif) repeat-x 0 -62px;
    height:31px;
}
.x-row-editor .x-btns .x-table-layout-cell {
    padding:3px;
}
.ext-ie6 .x-row-editor .x-form-field-wrap .x-form-trigger, .ext-ie7 .x-row-editor .x-form-field-wrap .x-form-trigger {
  top: 1px;
}

.ext-ie6 .x-row-editor .x-form-field-trigger-wrap, .ext-ie7 .x-row-editor .x-form-field-trigger-wrap {
  margin-top: -1px;
}

.errorTip .x-tip-body ul{
    list-style-type:disc;
    margin-left:15px;
}






